extends menu

block primary
    h1 This are the appartments from the requested landlord:
    if appartmentsFromLandlord.length
        table
            thead
                td ID
                td Address
                td Area
                td Number of Rooms
                td Size in sqm
                td Rent
            each appartment in appartmentsFromLandlord
                tr
                    td #{appartment.id}
                    td #{appartment.street}, #{appartment.postalCode} #{appartment.city}
                    td #{appartment.area}
                    td #{appartment.numRooms}
                    td #{appartment.sqm}
                    td #{appartment.rent}

        pre= JSON.stringify(appartmentsFromLandlord, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(appartmentsFromLandlord)})