extends menu

block primary
    h1 This are all registered landlords:
    if landlords.length
        table
            thead
                td ID
                td Lastname
                td Firstname
                td Age
            each landlord in landlords
                tr
                    td #{landlord.id}
                    td #{landlord.lastname}
                    td #{landlord.firstname}
                    td #{landlord.age}

        pre= JSON.stringify(landlords, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(landlords)})