extends menu

block primary
    h1 This are all people here:
    if people.length
        table
            thead
                td ID
                td Lastname
                td Firstname
                td Age
            each person in people
                tr
                    td #{person.id}
                    td #{person.lastname}
                    td #{person.firstname}
                    td #{person.age}

        pre= JSON.stringify(people, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(people)})